@font-face {
    font-family: "Mori";
    src: url("../fonts/mori/PPMori-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Mori";
    src: url("../fonts/mori/PPMori-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Mori";
    src: url("../fonts/mori/PPMori-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

:root {
    /* FONT WEIGHTS */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-extra-bold: 800;

    /* FONT SIZES */
    --fs-title: clamp(4.2rem, calc(15vw - 0.25rem), 8.7rem);
    --fs-section-head: clamp(3.4rem, calc(12vw - 0.2rem), 7rem);
    --fs-case-list: clamp(2.5rem, calc(9vw - 0.15rem), 5.3rem);
    --fs-quote: clamp(1.7rem, calc(6vw - 0.1rem), 3.5rem);
    --fs-base: clamp(1.6rem, calc(1vw + 1.3rem), 2rem);

    /* COLORS */
    --primary-blackish: #0F0F0F;
    --primary-whitish: #FAFAFA;
    --primary-blue: #85D3FF;
    --primary-gray: #EBEBEB;
    --room-shui-peach: #F7D1BA;
    --room-shui-green: #557571;
    --energy-green: #01804E;
    --energy-yellow: #FEBA35;
    --energy-navy: #0C2577;

   /* SPACING */
    --spacing-section: clamp(8.4rem, calc(26vw - 0.5rem), 13.5rem);
    --spacing-medium: clamp(2rem, 5vw, 5vw);
    --spacing-small: clamp(1rem, 2vw, 2vw);
    --spacing-gutter: 2rem;
    --spacing-text: 0.8em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

/* TYPE SELECTORS */

body, main, footer, section, div, ul, menu {
    display: flex;
    flex-direction: column;
}
ul, menu {
    list-style-type: none;
}
h1, h2, h3, h4, h5 {
    line-height: 1;
}
body {
    margin: 0 0 9.8rem 0;
    font-family: Mori, Helvetica, sans-serif;
    color: var(--primary-blackish);
    background-color: var(--primary-whitish);
}
nav {
    z-index: 100;
    position: fixed;
    background-color: var(--primary-whitish);
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
}
main {
    row-gap: var(--spacing-section);
}
footer {
    margin-top: var(--spacing-section);
    border-top: 0.2rem solid var(--primary-blackish);
}
section {
    row-gap: var(--spacing-gutter);
}
p {
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
}
li {
    display: block;
    height: auto;
    width: auto;
}
button {
    appearance: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--primary-blackish);
}





/* CLASS SELECTORS */

/* COLORS */

.bs-gray {
    box-shadow: inset 0 calc(clamp(1.7rem, calc(6vw - 0.1rem), 3.5rem) * -1) var(--primary-gray);
}
.bg-gray {
    background-color: var(--primary-gray);
    color: var(--primary-blackish);
}
.bg-blue {
    background-color: var(--primary-blue);
    color: var(--primary-blackish);
}
.bg-blackish {
    background-color: var(--primary-blackish);
    color: white;
}
.bg-whitish {
    background-color: var(--primary-whitish);
    color: var(--primary-blackish);
}
.bg-rs-peach {
    background-color: var(--room-shui-peach);
    color: var(--primary-blackish);
}
.bg-rs-green {
    background-color: var(--room-shui-green);
    color: white;
}
.bg-de-green {
    background-color: var(--energy-green);
    color: white;
}
.bg-de-navy {
    background-color: var(--energy-navy);
    color: white;
}
/* STRUCTURAL CLASSES */

.section-hello {
    height: calc(100vh - 8rem);
}
.section-start {
    padding-top: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);
    margin-bottom: calc(var(--spacing-gutter) * -1);
}
.row {
    gap: var(--spacing-gutter);
}
.box {
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
}
.box-title-section {
    padding: 0 var(--spacing-medium);
    row-gap: var(--spacing-small);
    justify-content: space-between;
}
.box-header {
    flex-direction: row;
    justify-content: end;
}
.box-text {
    gap: var(--spacing-medium);
}
.box-text-row {
    flex-direction: row;
    gap: var(--spacing-medium);
    width: 100%;
}
.box-row {
    gap: var(--spacing-medium);
    width: 100%;
}
.box-column {
    flex: 1;
    gap: var(--spacing-medium)
}



.nav-menu {
    flex-direction: row;
}


/* TEXT CLASSES */

.title {
    font-size: var(--fs-title);
    font-weight: var(--fw-semi-bold);
    margin-top: var(--spacing-section);
}
.heading-section {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-section-head);
    text-transform: uppercase;
}
.heading-text {
    font-size: var(--fs-base);
    text-transform: uppercase;
    font-weight: var(--fw-extra-bold);
    margin-bottom: var(--spacing-text);
}
.text {
    line-height: 1.3;
    text-indent: 20%;
    max-width: 60rem;
}
.text-footer {
    line-height: 1.3;
}








.label {
    padding: 0.5rem 1rem 0.25rem 1rem;
    font-size: var(--fs-base);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
}
.link {
    padding: 0.5rem 1rem 0.25rem 1rem;
    border: 0.2rem solid var(--primary-blackish);
    border-radius: 5rem;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-base);
    display: block;
}








/* LISTS */

.list-labels {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.list-regular {
    font-size: var(--fs-base);
    flex-direction: column;
    gap: 0.4em;
}
.list-item {
    padding: 0.4em 0.8em 0.4em 0.8em;

    border-bottom: 0.2rem solid var(--primary-blackish);
    border-left: 0.2rem solid var(--primary-blackish);
}
.list-links {
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}






/* NAVIGATION */

.box-name {
    border-top: 0.2rem solid var(--primary-blackish);
    padding: 1rem 2rem;
}
.name {
    font-size: 2rem;
    font-weight: var(--fw-semi-bold);
}
.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
.nav-item {
    border-top: 0.2rem solid var(--primary-blackish);
    border-right: 0.2rem solid var(--primary-blackish);
    border-bottom: none;
    border-left: none;
    background-color: var(--primary-whitish);
    font-size: 1.6rem;
    font-weight: var(--fw-semi-bold);
    flex: 1;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: start;
    line-height: 1;
    padding: 1rem 2rem;
    display: inline-flex;
    align-items: flex-start;
}
#current {
    flex: 3;
}

/* HELLO SECTION */

.box-hello {
    flex: 1;
    justify-content: space-between;

}
.greeting {
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    font-size: clamp(6rem, 20vw, 11rem);
}
.intro {
    font-weight: var(--fw-semi-bold);

}
.scroll {
    font-size: var(--fs-base);
    text-transform: uppercase;
    font-weight: var(--fw-semi-bold);
    padding: var(--spacing-gutter) var(--spacing-medium);
    justify-content: space-around;
}

/* WORK SECTION */

.case-item {
    border-bottom: 0.2rem solid var(--primary-blackish);
    border-left: 0.2rem solid var(--primary-blackish);
    margin-bottom: 1rem;
}
.case-deets {
    padding: 2vw;
}
.case-deets h5 {
    font-size: var(--fs-case-list);
    font-weight: var(--fw-regular);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* USER PERSONA */
.user-frame {
    filter: drop-shadow(-0.4rem 0.4rem 0rem);
    border: 0.1rem solid var(--primary-blackish);
    background-color: white;
    max-width: 40rem;
    margin: 0 auto 0 auto;
    height: fit-content;

}
.user-img {
    padding: 2rem;


}
.user-img img {
    object-fit: contain;
}
.user-name {
    padding: 0 2rem 2rem 2rem;
    font-size: var(--fs-base);
    
}
.user-quote {
    text-align: center;
    line-height: 1.5;
    font-size: var(--fs-quote);
    font-weight: var(--fw-regular);
}
/* FOOTER */

.chat {
    font-size: clamp(4.6rem, calc(16vw - 0.5rem), 9.4rem);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
}
.footer-menu {
    flex-wrap: wrap;

}
.footer-link, .footer-text {
    font-size: 1.6rem;
}
.footer-link {
    padding: 0.4rem 1.2rem;
    border: 0.2rem solid var(--primary-blackish);
    border-radius: 5rem;
    font-weight: var(--fw-semi-bold);
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.footer-text {
    text-indent: 0;
    margin: 0;
}




@media (min-width: 900px) {

    nav {
        height: 100%;
        width: 17rem;
        top: 0;
        flex-direction: column;
        left: 0;
    }
    body {
        margin: 0 0 0 17rem;
        padding: 2rem;
    }
    .box-title-section {
        flex-direction: row;
    }
    .list-labels {
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }
    .row {
        flex-direction: row;
    }
    .box-text {
        margin-left: 40%;
        width: 50%;
    }
    .box-row {
        flex-direction: row;
    }
    .box-grid {
        grid-template-columns: repeat(12, 1fr);
    
    }
    .section-hello {
        height: calc(100vh - 2rem);
    }
    .grid-s6 {
        grid-column: span 6;

    }
    .grid-s3 {
        grid-column: span 3;
    }
    .grid-5s7 {
        grid-column: 5 / span 7;
    }
    .grid-s12 {
        grid-column: span 12;
    }
    /* NAVIGATION */

    .box-name {
        border-top: none;
        padding: 3rem 2rem;
    }
    .name {
        font-size: 4rem;
        font-weight: var(--fw-semi-bold);
        text-align: center;

    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: auto;
        height: 100%;
    }
    .nav-item {
        text-wrap: wrap;
        padding: 2rem;
    }

    
}